---
import Mobileview from './../components/mobileview.astro';
import Freesoftwareband from './../components/free_software_band.astro';
import DotsIntro from './../components/dots_intro.astro';
import Roadmap from './../components/roadmap.astro';
import AlphaVideo from './../components/alpha_video.astro';
import KeepInformed from './../components/keep_informed.astro';
import ContactUs from './../components/contact_us.astro';
import SupportUs from './../components/support_us.astro';
import SkopFooter from './../components/skop_footer.astro';


---

<html lang="fr_FR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script async defer data-domain="audioskop.fr" src="https://stats.documents.design/js/plausible.js"></script>
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
		<title>Audioskop</title>
		<style>
			@font-face {
				font-family: "Inter";
				src: url("/Inter-Light.woff2");
				font-weight: 300;
			}
			@font-face {
				font-family: "Inter";
				src: url("/Inter-Medium.woff2");
				font-weight: 400;
			}
			html {
				font-family: "Inter", sans-serif;
			}
			svg circle {
				cursor: pointer;
				transition: all 0.2s;
			}
		</style>
	</head>
	<body>
	      <div class="fixed bottom-0 left-0 right-0 bg-[#9DC4FF] text-[rgb(31, 79, 152)] h-8 z-[99] text-center">
							<a class="leading-none font-light mt-2 block underline" href="/en">Read this page in English</a> </div>
		<DotsIntro/>
		<Freesoftwareband/>
		<section
			class="px-4 text-xl md:text-3xl font-light text-[#FFEA7D] bg-[#B89900] text-center py-6 md:py-8 md:min-h-[14rem] flex items-center justify-center"
		>
			<p>
				<strong>Sortie publique courant 2025</strong><br />Première
				édition : archives du philosophe Pierre-Damien Huyghe
			</p>
		</section>

		<Roadmap/>
		<AlphaVideo/>
		<Mobileview />
		<KeepInformed/>
		<ContactUs />
		<SupportUs />
		<SkopFooter />
	</body>
</html>
