---
const {lang} = Astro.props;
import {get_string} from './../strings';
---

<section class="text-center">
<div class="bg-[#FFF5C2]">
			<div class="max-w-[760px] py-4 mx-auto">
			<p class="font-light mb-4 text-[#B89900]" style="font-size: 1.5em;">{get_string(lang,`Présentation de la version alpha (5mn).`)}</p>
			 <div style="position: relative; padding-top: 56.25%;"><iframe title="Parcours dans l'interface d'Audioskop" width="100%" height="100%" src="https://tube-numerique-educatif.apps.education.fr/videos/embed/723739af-78bf-4bd5-941e-12511ab3e9b0?title=0&amp;warningTitle=0&amp;peertubeLink=0&amp;p2p=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" style="position: absolute; inset: 0px;"></iframe></div>
			</div>
			<p class="font-light text-sm py-4 pt-0 text-[#B89900]">{get_string(lang,`Vidéo d'un parcours sur l'interface développé pour écran d'ordinateur. Montre l'état de notre travail au 25/11/24. Sous-titres disponibles`)}</p>
			</div>
</section>