---
const {lang} = Astro.props;
import {get_string} from './../strings';
---

<section class="text-xl md:text-3xl text-center font-light">
			<div class="bg-[#EDD8EE] py-8 px-4">
				<p>
					{get_string(lang,`Une question ? Une remarque ? Des idées pour valoriser un corpus audio ?`)}<br />{get_string(lang,`Écrivez-nous à l'adresse :`)}
				</p>
			</div>
			<div class="bg-[#F5EAF6] py-32">
				<a
					target="_blank"
					href="mailto:contact@audioskop.fr"
					class="before:bg-[#EDD8EE] relative before:absolute before:w-32 before:block before:h-32 hover:before:w-48 hover:before:h-48 before:transition-all before:rounded-full before:top-[50%] before:left-[50%] before:-translate-x-[50%] before:-translate-y-[50%]"
				>
					<span class="relative z-10">contact@audioskop.fr</span></a
				>
			</div>
		</section>
