---

---

<header
			class="w-full h-[90dvh] h-[90vh] md:h-[100dvh] md:h-[100vh] bg-white flex items-center overflow-x-hidden justify-center relative"
		>
			<svg
				class="absolute h-[90dvh] h-[90vh] md:h-[100dvh] md:h-[100vh] left-[50%] -translate-x-[50%]"
				viewBox="0 0 1409 896"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="23.5" cy="204.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="93.5" cy="86.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="93.5" cy="204.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="126.5" cy="508.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="93.5" cy="689.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="232.5" cy="86.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="200.5" cy="145.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="200.5" cy="388.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="232.5" cy="204.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="232.5" cy="325.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="232.5" cy="689.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="304.5" cy="566.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="304.5" cy="447.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="409.5" cy="23.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="409.5" cy="385.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="409.5" cy="747.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="444.5" cy="689.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="514.5" cy="810.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="444.5" cy="204.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="514.5" cy="86.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="549.5" cy="145.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="549.5" cy="508.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="549.5" cy="388.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="618.5" cy="266.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="652.5" cy="689.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="724.5" cy="689.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="724.5" cy="566.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="724.5" cy="86.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="828.5" cy="145.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="863.5" cy="86.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="967.5" cy="747.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="967.5" cy="508.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="1037.5" cy="388.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="1037.5" cy="747.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="1070.5" cy="689.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="1070.5" cy="810.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="1141.5" cy="447.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="1141.5" cy="325.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1141.5" cy="86.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="1247.5" cy="23.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1281.5" cy="204.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="1281.5" cy="325.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="1281.5" cy="566.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1247.5" cy="629.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1282.5" cy="689.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1175.5" cy="747.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="1352.5" cy="810.5" r="23.5" fill="#E7CBE8"></circle>
				<circle cx="1352.5" cy="689.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1385.5" cy="629.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1352.5" cy="569.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="1037.5" cy="145.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="863.5" cy="325.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="757.5" cy="266.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="828.5" cy="629.5" r="23.5" fill="#9DC4FF"></circle>
				<circle cx="757.5" cy="872.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="652.5" cy="810.5" r="23.5" fill="#B2BB9F"></circle>
				<circle cx="338.5" cy="145.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="304.5" cy="204.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="304.5" cy="86.5" r="23.5" fill="#FFEA7D"></circle>
				<circle cx="232.5" cy="810.5" r="23.5" fill="#D8C093"></circle>
				<circle cx="23.5" cy="566.5" r="23.5" fill="#FFEA7D"></circle>
			</svg>
			<script is:inline>
				(function () {
					var circles = document.querySelectorAll("svg circle");
					var current = null;
					var grow = function (c) {
						c.setAttribute("r", 35);
						current = c;
					};
					var shrink = function (c) {
						c.setAttribute("r", 23.5);
						current = null;
					};
					document.addEventListener("touchend", function () {
						if (current) {
							shrink(current);
						}
					});
					circles.forEach(function (c) {
						c.addEventListener("mouseenter", function () {
							grow(c);
						});
						c.addEventListener("mouseleave", function () {
							shrink(c);
						});
						c.addEventListener("touchstart", function () {
							grow(c);
						});
					});
				})();
			</script>
			<h1 class="text-[15vw] md:text-[10vw] font-light relative z-10">Audioskop</h1>
		</header>
