---
const {lang} = Astro.props;
import {get_string} from './../strings';
---
<section
			class="px-4 text-xl md:text-3xl font-light bg-[#FFEA7D] text-[#B89900] text-center py-6 md:py-8 md:min-h-[14rem] flex items-center justify-center"
		>
			<p>{ get_string(lang, `Logiciel libre sous licence AGPL pour éditer et présenter des corpus audio.`)}</p>
		</section>
