---
const {lang} = Astro.props;
import {get_string} from './../strings';
---
<section class="text-xl md:text-3xl text-center font-light">
			<div class="bg-[#E2D0AF] py-8 px-4">
				<p>{get_string(lang,`Pour être informé de l'évolution du logiciel`)}</p>
			</div>
			<div class="bg-[#EFE6D4] py-32">
				<a
					target="_blank"
					href="https://3e754aed.sibforms.com/serve/MUIEAJOjYZWxNKQ0ab7jjj-cr6YPWQGytakPZhsO9upjG_bM_MupO81ZNHOKlRx2JcefEhNlUXV9oIzWe8Uah2MGJnkUa6REe8rBcw1Pd0Ky-1Yos_l4ZGe9l3mm4V8KCFm9ZN03ybGnS15tF5xRkKICSqo7lI7wCH5r3W_IziYU0n5AoK3X2I-8T3Rkns1BCGlWi7a9MBB4XHiU"
					class="before:bg-[#E2D0AF] relative before:absolute before:w-32 before:block before:h-32 hover:before:w-48 hover:before:h-48 before:transition-all before:rounded-full before:top-[50%] before:left-[50%] before:-translate-x-[50%] before:-translate-y-[50%]"
				>
					<span class="relative z-10">{get_string(lang,`Lettre d'information`)}</span></a
				>
			</div>
		</section>
