---
const {lang} = Astro.props;
import {get_string} from './../strings';
---
<section class="w-full">
		<p class="font-light text-lg py-4 mx-auto  text-center mt-2 pt-0 relative top-4">{get_string(lang,`Vues de l'interface en cours de développement sur écran de téléphone.`)}</p>
			<div class="md:pt-16 pt-6">
			<div class="swiper h-[60vh] md:h-[90vh] mx-auto">
				<div class="swiper-wrapper h-[60vh] md:h-[90vh]">
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/01.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/02.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/03.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/04.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/05.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/06.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12" style="width:auto;">
						<img src="/vues/07.png" class="h-full w-auto" />
					</div>
					<div class="swiper-slide h-[60vh] md:h-[90vh] w-auto p-4 pl-12 mr-12" style="width:auto;">
						<img src="/vues/08.png" class="h-full w-auto" />
					</div>
				</div>
			</div>
		</div>
			<div class="mx-auto flex justify-center gap-2 mt-6 mb-6">
				<button
					class="slide-prev border cursor-pointer border-black rounded-full w-12 h-12 flex items-center text-center align-center"
				>
					<span class="mx-auto"
						><img class="w-12 h-12" src="/arrow_back.svg" /></span
					>
				</button>
				<button
					class="slide-next border cursor-pointer border-black rounded-full w-12 h-12 flex items-center text-center align-center"
				>
					<span class="mx-auto"
						><img
							class="w-12 h-12"
							src="/arrow_forward.svg"
						/></span
					>
				</button>
				<script>
					import Swiper from 'swiper';
					import 'swiper/css';
					const instance = new Swiper(".swiper", {
						slidesPerView: 'auto',
						spaceBetween: 40,
					});
					const prev = document.querySelector('.slide-prev') as HTMLElement;
					const next = document.querySelector('.slide-next') as HTMLElement;
					const adjustButtons = () => {
						if (instance.isBeginning) {
							prev && (prev.style.opacity = '0.5');
							next && (next.style.opacity = '1');
						} else if (instance.isEnd) {
							prev && (prev.style.opacity = '1');
							next && (next.style.opacity = '0.5');
						} else {
							next && (next.style.opacity = '1');
							prev && (prev.style.opacity = '1');
						}
					}
					prev && prev.addEventListener('click', () => {
						if (instance.realIndex !== 0) {
							instance.slidePrev();
						}
					});
					next && next.addEventListener('click', () => {
						if (instance.realIndex !== 7) {
							instance.slideNext();
						}
					});
					adjustButtons();
					instance.on('slideChange', adjustButtons);
				</script>
			</div>
		</section>
