---
const {lang} = Astro.props;
import {get_string} from './../strings';
---

<section class="text-xl md:text-3xl text-center font-light">
			<div class="bg-[#FFEA7D] text-[#B89900] py-8 px-4">
				<p class="font-normal">{get_string(lang,`Audioskop est aujourd'hui en version alpha (en cours de développement).`)}</p>
				<p>{get_string(lang,`L'état en progrès est visible à`)} <a class="underline" href="https://alpha.audioskop.fr">alpha.audioskop.fr</a></p>
				<div class="mt-8">
					<p>{get_string(lang,`Audioskop va passer par ces quelques phases jusqu'à sa sortie publique`)} : </p>
					<div class="flex flex-wrap justify-center w-full">
						<div class="mx-8 basis-[240px] relative h-[240px] flex items-center justify-center">
							<div class="absolute z-0 w-[180px] h-[180px] left-[30px] top-[30px] rounded-full text-[#FFEA7D] bg-[#fff5c2]"></div>
							<div class="relative z-10 ">
							<h3>{get_string(lang,`Version alpha`)}</h3>
							<p class="text-sm">{get_string(lang,`Développement des fonctionnalités.`)}</p>
							</div>
						</div>
						<div class="mx-8 basis-[240px] relative h-[240px] flex items-center justify-center">
							<div class="absolute z-0 w-[90px] h-[90px] left-[80px] top-[80px] rounded-full text-[#FFEA7D] bg-[#fff5c2]"></div>
							<div class="relative z-10 ">
											<h3>{get_string(lang,`Version bêta`)}</h3>
											<p class="text-sm">{get_string(lang,`Fonctionnalités stabilisées, affinage et corrections.`)}</p>
							</div>
						</div>
						<div class="mx-8 basis-[240px] relative h-[240px] flex items-center justify-center">
							<div class="absolute z-0 w-[90px] h-[90px] left-[80px] top-[80px] rounded-full text-[#FFEA7D] bg-[#fff5c2]"></div>
							<div class="relative z-10 ">
								<h3>{get_string(lang,`Prépublication`)}</h3>
								<p class="text-sm">{get_string(lang,`Finitions, présentations restreintes, rédaction de la documentation.`)}</p>
							</div>
						</div>
						<div class="mx-8 basis-[240px] relative h-[240px] flex items-center justify-center">
							<div class="absolute z-0 w-[90px] h-[90px] left-[80px] top-[80px] rounded-full text-[#FFEA7D] bg-[#fff5c2]"></div>
							<div class="relative z-10 ">
								<h3>{get_string(lang,`Sortie publique`)}</h3>
								<p class="text-sm">{get_string(lang,`Ouverture publique du site, ouverture du code et de la documentation.`)}</p>
							</div>
						</div>
					</div>
				</div>
				<p class="my-4 max-w-[65ch] mx-auto text-sm">{get_string(lang,`Tout au long du développement, le fonds d'archives de Pierre-Damien Huyghe est indexé et préparé pour être diffusé via Audioskop.`)}</p>
			</div>
		</section>
