---
const {lang} = Astro.props;
import {get_string} from './../strings';
---
<footer
			class="bg-[#FFEA7D] font-light py-8 flex-col md:flex-row gap-y-12 flex items-center justify-around"
		>
			<div class="flex items-center">
				<img
					class="h-24 mr-2 w-auto"
					src="/PREF_region_Occitanie.png"
					alt=""
				/>
				<p class="max-w-[22ch]">
				{get_string(lang,`Avec le soutien financier de la Direction régionale des affaires culturelles Occitanie`)}
				</p>
			</div>
			<div class="flex items-center">
				<div>
					<svg
						class="h-16 w-auto mr-2"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 50 38"
						><path
							id="CNAP logo"
							class="shp0"
							d="M10.35 18.55C10.35 19.45 11.08 20.18 11.97 20.18C12.86 20.18 13.59 19.45 13.59 18.55C13.59 17.65 12.86 16.92 11.97 16.92C11.08 16.92 10.35 17.65 10.35 18.55ZM18.44 0C8.27 0 0 8.32 0 18.55C0 28.78 8.27 37.1 18.44 37.1L30.09 37.1C35.26 37.1 39.47 32.87 39.47 27.66L39.47 18.55C39.47 16.58 41.06 14.97 43.03 14.97C44.99 14.97 46.59 16.58 46.59 18.55C46.59 20.52 44.99 22.13 43.03 22.13C42.13 22.13 41.41 22.86 41.41 23.76L41.41 35.47C41.41 36.37 42.13 37.1 43.03 37.1C43.92 37.1 44.64 36.37 44.64 35.47C44.64 35.47 44.64 25.67 44.64 25.18C47.66 24.44 49.82 21.7 49.82 18.55C49.82 14.78 46.77 11.72 43.03 11.72C39.28 11.72 36.23 14.78 36.23 18.55L36.23 27.66C36.23 31.07 33.48 33.85 30.09 33.85L18.44 33.85C10.06 33.85 3.24 26.98 3.24 18.55C3.24 10.12 10.06 3.25 18.44 3.25L27.5 3.25C29.46 3.25 31.06 4.86 31.06 6.83L31.06 27.66C31.06 28.2 30.62 28.64 30.09 28.64C29.55 28.64 29.12 28.2 29.12 27.66L29.12 15.95C29.12 13.61 27.23 11.72 24.91 11.72C23.97 11.72 23.06 12.05 22.32 12.64C21.58 12.05 20.68 11.72 19.73 11.72C17.41 11.72 15.53 13.61 15.53 15.95L15.53 18.55C15.53 20.53 13.93 22.13 11.97 22.13C10.01 22.13 8.41 20.52 8.41 18.55C8.41 16.58 10.01 14.97 11.97 14.97C12.86 14.97 13.59 14.24 13.59 13.34C13.59 12.45 12.86 11.72 11.97 11.72C8.22 11.72 5.17 14.78 5.17 18.55C5.17 22.32 8.22 25.38 11.97 25.39C13.78 25.39 15.49 24.67 16.77 23.38C18.06 22.09 18.76 20.38 18.76 18.55L18.76 15.95C18.76 15.41 19.2 14.97 19.73 14.97C20.27 14.97 20.7 15.41 20.7 15.95L20.71 23.76C20.71 24.65 21.43 25.38 22.32 25.38C23.22 25.38 23.94 24.65 23.94 23.76L23.94 15.95C23.94 15.41 24.37 14.97 24.91 14.97C25.44 14.97 25.88 15.41 25.88 15.95L25.88 27.66C25.88 29.99 27.77 31.89 30.09 31.89C32.41 31.89 34.29 29.99 34.29 27.66L34.29 6.83C34.29 3.07 31.24 0 27.5 0L18.44 0Z"
						></path></svg
					>
				</div>
				<p class="max-w-[22ch]">
					{get_string(lang,`Avec le soutien du Centre National des Arts Plastiques`)}
				</p>
			</div>
			<div class="pl-4 md:py-8 text-center">
				<p>
					<a
						target="_blank"
						href="https://www.helloasso.com/associations/petites-bandes"
						class="underline">Association Petites Bandes</a
					><br />
					{get_string(lang,`Graphisme`)} : <a
						target="_blank"
						class="underline"
						href="https://laurasavignac.com">Laura Savignac</a
					><br />
					{get_string(lang,`Développement`)} : <a
						target="_blank"
						class="underline"
						href="https://turing-express.fr">Lucas Sifoni</a
					>
				</p>
			</div>
		</footer>
