---
const {lang} = Astro.props;
import {get_string} from './../strings';
---
<section class="text-xl md:text-3xl text-center font-light">
			<div class="bg-[#B6D3FF] py-8 px-4">
				<p>{get_string(lang,`Pour soutenir le projet`)}</p>
			</div>
			<div class="bg-[#D8E7FF] py-32">
				<a
					target="_blank"
					href="https://www.helloasso.com/associations/petites-bandes/collectes/audioskop"
					class="before:bg-[#B6D3FF] relative before:absolute before:w-32 before:block before:h-32 hover:before:w-48 hover:before:h-48 before:transition-all before:rounded-full before:top-[50%] before:left-[50%] before:-translate-x-[50%] before:-translate-y-[50%]"
				>
					<span class="relative z-10">{get_string(lang,`Financement participatif`)}</span
					></a
				>
			</div>
		</section>
